
#p-1{text-decoration: wavy overline blue;



}


#p-2{text-transform: uppercase;



}


#p-3{text-shadow: 2px 5px 10px purple; 




}


#h-3{text-transform: lowercase;
     text-decoration: double underline blueviolet;
     font-family: "Sekuya"; 
     text-shadow: 2px 2px 1px orange;

}
