
*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}
#parent{
height: 150px;
width: 330px;
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: 60px 60px;
gap: 10px;
align-content: start;
}

#child{
display: flex;
height: 60px;
width: 100px;
background-color: rgb(80, 79, 79);
border-radius: 10px ;
color: white;
text-align: center;
justify-content: center;
align-items: center;
font-size: 25px;
}









