 
#banner {
    background-color: yellow;
}

 
.box {
    border: 2px solid black;
}


.main p {
    color: green;  
}
 
.red-text {
    color: red;
}

#title {
    color: blue;
}
























